<div class="container-fluid no-gutters">
  <div class="jumbotron jumbotron-fluid text-success bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6"> 
          <div>
          <h1 class="display-4">Welcome to Bambu</h1>
          <hr class="my-4 bg-success">
          <p class="lead">We love being eco-friendly building things with bamboo</p>
          </div>
        </div>
        <div class="col">
          <%= image_tag  "bamboo.png", class: "img-fluid" %>
        </div>
      </div>
    </div> 
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1 class="">Our projects</h1>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid no-gutters bg-success">
  <div class="row justify-content-around no-gutters">
    <div class="col text-light my-4 py-4 banner-message">
      
      <h4 class="my-4">We are a mexican startup localed in the state of Veracruz, to get access to our courses see our <a class="text-light" href="#"><u>kickstarter page</u></a></h4>
      
    </diV>
  </diV>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


